In [5]:
import pandas as pd

In [6]:
soc_catalog_messy = pd.read_csv('data/original/Satellite-Orbital-Catalog.csv')

soc_catalog_messy

,norad_id,name,object_type,satellite_constellation,altitude_km,altitude_category,orbital_band,congestion_risk,inclination,eccentricity,launch_year_estimate,days_in_orbit_estimate,orbit_lifetime_category,mean_motion,epoch,data_source,snapshot_date,country,last_seen
0,900,CALSPHERE 1,PAYLOAD,Other,976.958891,Low LEO,LEO-Polar,LOW,90.2214,0.002585,2023,0,<1yr,13.763226,2025-11-19 13:59:20.966784,celestrak,2025-11-19,US,2025-11-19
1,902,CALSPHERE 2,PAYLOAD,Other,1061.680140,Mid LEO,LEO-Polar,LOW,90.2361,0.002038,2023,0,<1yr,13.528803,2025-11-19 13:40:44.479200,celestrak,2025-11-19,US,2025-11-19
2,1361,LCS 1,PAYLOAD,Other,2787.875758,High LEO,MEO,LOW,32.1450,0.001337,2023,0,<1yr,9.893093,2025-11-19 05:43:58.727424,celestrak,2025-11-19,US,2025-11-19
3,1512,TEMPSAT 1,PAYLOAD,Other,1133.292560,Mid LEO,LEO-Polar,HIGH,89.9896,0.007119,2023,0,<1yr,13.335794,2025-11-19 05:13:06.491136,celestrak,2025-11-19,US,2025-11-19
4,1520,CALSPHERE 4A,PAYLOAD,Other,1123.344181,Mid LEO,LEO-Polar,HIGH,89.9081,0.006894,2023,0,<1yr,13.362331,2025-11-19 11:40:26.247360,celestrak,2025-11-19,US,2025-11-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13376,66418,HULIANWANG DIGUI 13G,UNKNOWN,Other,804.853793,Low LEO,LEO-Inclined,MEDIUM,50.0019,0.001211,2023,0,<1yr,14.260830,2025-11-19 14:46:56.104896,celestrak,2025-11-19,PRC,2025-11-19
13377,66419,HULIANWANG DIGUI 13H,UNKNOWN,Other,804.331397,Low LEO,LEO-Inclined,MEDIUM,50.0023,0.001148,2023,0,<1yr,14.262386,2025-11-19 14:45:27.440352,celestrak,2025-11-19,PRC,2025-11-19
13378,66420,HULIANWANG DIGUI 13J,UNKNOWN,Other,803.974085,Low LEO,LEO-Inclined,MEDIUM,50.0037,0.001099,2023,0,<1yr,14.263450,2025-11-19 14:44:24.867744,celestrak,2025-11-19,PRC,2025-11-19
13379,66454,VIASAT-3 F2,PAYLOAD,Other,17958.448855,MEO,MEO,LOW,5.6108,0.234599,2023,0,<1yr,2.286722,2025-11-19 02:06:38.892096,celestrak,2025-11-19,US,2025-11-19
13380,66514,SENTINEL-6B,PAYLOAD,Other,1317.934379,Mid LEO,LEO-Inclined,LOW,66.0403,0.001158,2023,0,<1yr,12.858761,2025-11-19 14:28:00.254208,celestrak,2025-11-19,ESA,2025-11-19

In [7]:
soc_catalog_messy.columns

Index(['norad_id', 'name', 'object_type', 'satellite_constellation',
       'altitude_km', 'altitude_category', 'orbital_band', 'congestion_risk',
       'inclination', 'eccentricity', 'launch_year_estimate',
       'days_in_orbit_estimate', 'orbit_lifetime_category', 'mean_motion',
       'epoch', 'data_source', 'snapshot_date', 'country', 'last_seen'],
      dtype='object')