In [1]:
import pandas as pd
pd.set_option('display.max_rows', 100)

In [2]:
ucs_sats_messy = pd.read_csv('data/original/UCS-Satellite-Database 5-1-2023.csv')

ucs_sats_messy.head(10)

,"Name of Satellite, Alternate Names",Current Official Name of Satellite,Country/Org of UN Registry,Country of Operator/Owner,Operator/Owner,Users,Purpose,Detailed Purpose,Class of Orbit,Type of Orbit,...,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67
0,1HOPSAT-TD (1st-generation High Optical Perfor...,1HOPSAT-TD,NR,USA,Hera Systems,Commercial,Earth Observation,Infrared Imaging,LEO,Non-Polar Inclined,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AAC AIS-Sat1 (Kelpie 1),AAC AIS-Sat1 (Kelpie 1),United Kingdom,United Kingdom,AAC Clyde Space,Commercial,Earth Observation,Automatic Identification System (AIS),LEO,Sun-Synchronous,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aalto-1,Aalto-1,Finland,Finland,Aalto University,Civil,Technology Development,NaN,LEO,Sun-Synchronous,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAt-4,AAt-4,Denmark,Denmark,University of Aalborg,Civil,Earth Observation,Automatic Identification System (AIS),LEO,Sun-Synchronous,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"ABS-2 (Koreasat-8, ST-3)",ABS-2,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ABS-2A,ABS-2A,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ABS-3A,ABS-3A,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"ABS-4 (ABS-2i, MBSat, Mobile Broadcasting Sate...",ABS-4,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"ABS-6 (ABS-1, LMI-1, Lockheed Martin-Intersput...",ABS-6,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Adelis-Sampson 1,Adelis-Sampson 1,NR,Israel,Asher Space Research Institute at Technion/Isr...,Government,Technology Development,NaN,LEO,Sun-Synchronous,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
ucs_sats_messy.shape

(7560, 68)

In [4]:
ucs_sats_messy.drop( columns=['Unnamed: 28', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53',
       'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57',
       'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61',
       'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65',
       'Unnamed: 66', 'Unnamed: 67',' Dry Mass (kg.) ', 'Power (watts)'], inplace=True)

In [5]:
ucs_sats_messy.isnull().sum()

Name of Satellite, Alternate Names       0
Current Official Name of Satellite       0
Country/Org of UN Registry               1
Country of Operator/Owner                0
Operator/Owner                           0
Users                                    0
Purpose                                  0
Detailed Purpose                      6306
Class of Orbit                           0
Type of Orbit                          651
Longitude of GEO (degrees)               3
Perigee (km)                             7
Apogee (km)                              7
Eccentricity                            11
Inclination (degrees)                    4
Period (minutes)                        56
Launch Mass (kg.)                      245
Date of Launch                           1
Expected Lifetime (yrs.)              2110
Contractor                               0
Country of Contractor                    0
Launch Site                              0
Launch Vehicle                           0
COSPAR Number                            0
NORAD Number                             0
Comments                              5475
Source Used for Orbital Data           923
Source                                4274
Source.1                              6835
Source.2                              5728
Source.3                              6434
Source.4                              6831
Source.5                              7007
Source.6                              7056
dtype: int64

In [6]:
ucs_sats_messy['Source Used for Orbital Data'].describe()

count          6637
unique          186
top       Estimated
freq           3380
Name: Source Used for Orbital Data, dtype: object

In [7]:
ucs_sats_messy['Source'].describe()

count                                                  3286
unique                                                 1502
top       https://spaceflightnow.com/2021/01/24/spacex-l...
freq                                                     74
Name: Source, dtype: object

In [8]:
ucs_sats_messy['Source.1'].describe()

count           725
unique           69
top       Estimated
freq            483
Name: Source.1, dtype: object

In [9]:
ucs_sats_messy['Source.2'].describe()

count          1832
unique          716
top       Estimated
freq            483
Name: Source.2, dtype: object

In [10]:
ucs_sats_messy['Source.3'].describe()

count          1126
unique          361
top       Estimated
freq            483
Name: Source.3, dtype: object

In [11]:
ucs_sats_messy['Source.4'].describe()

count           729
unique          143
top       Estimated
freq            483
Name: Source.4, dtype: object

In [12]:
ucs_sats_messy['Source.5'].describe()

count           553
unique           47
top       Estimated
freq            484
Name: Source.5, dtype: object

In [13]:
ucs_sats_messy['Source.6'].describe()

count           504
unique           11
top       Estimated
freq            484
Name: Source.6, dtype: object

In [14]:
ucs_sats_messy.head()

,"Name of Satellite, Alternate Names",Current Official Name of Satellite,Country/Org of UN Registry,Country of Operator/Owner,Operator/Owner,Users,Purpose,Detailed Purpose,Class of Orbit,Type of Orbit,...,NORAD Number,Comments,Source Used for Orbital Data,Source,Source.1,Source.2,Source.3,Source.4,Source.5,Source.6
0,1HOPSAT-TD (1st-generation High Optical Perfor...,1HOPSAT-TD,NR,USA,Hera Systems,Commercial,Earth Observation,Infrared Imaging,LEO,Non-Polar Inclined,...,44859,Pathfinder for planned earth observation const...,JMSatcat/3_20,https://spaceflightnow.com/2019/12/11/indias-5...,https://www.herasys.com/,NaN,NaN,NaN,NaN,NaN
1,AAC AIS-Sat1 (Kelpie 1),AAC AIS-Sat1 (Kelpie 1),United Kingdom,United Kingdom,AAC Clyde Space,Commercial,Earth Observation,Automatic Identification System (AIS),LEO,Sun-Synchronous,...,55107,Provide AIS information to Orbcomm.,JMSatcat/9_23,https://www.aac-clyde.space/articles/aac-clyde...,NaN,NaN,NaN,NaN,NaN,NaN
2,Aalto-1,Aalto-1,Finland,Finland,Aalto University,Civil,Technology Development,NaN,LEO,Sun-Synchronous,...,42775,Technology development and education.,JMSatcat/10_17,https://directory.eoportal.org/web/eoportal/sa...,NaN,http://www.planet4589.org/space/log/satcat.txt,NaN,NaN,NaN,NaN
3,AAt-4,AAt-4,Denmark,Denmark,University of Aalborg,Civil,Earth Observation,Automatic Identification System (AIS),LEO,Sun-Synchronous,...,41460,Carries AIS system.,Space50,http://spaceflightnow.com/2016/04/26/soyuz-bla...,NaN,http://space50.org/objekt.php?mot=2016-025E&ja...,NaN,NaN,NaN,NaN
4,"ABS-2 (Koreasat-8, ST-3)",ABS-2,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,...,39508,"32 C-band, 51 Ku-band, and 6 Ka-band transpond...",ZARYA,http://www.absatellite.net/satellite-fleet/?sa...,NaN,http://www.zarya.info/Diaries/Launches/Launche...,http://www.absatellite.net/2010/10/13/asia-bro...,http://www.spacenews.com/article/satellite-tel...,NaN,NaN

In [15]:
ucs_sats_messy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7560 entries, 0 to 7559
Data columns (total 34 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Name of Satellite, Alternate Names  7560 non-null   object
 1   Current Official Name of Satellite  7560 non-null   object
 2   Country/Org of UN Registry          7559 non-null   object
 3   Country of Operator/Owner           7560 non-null   object
 4   Operator/Owner                      7560 non-null   object
 5   Users                               7560 non-null   object
 6   Purpose                             7560 non-null   object
 7   Detailed Purpose                    1254 non-null   object
 8   Class of Orbit                      7560 non-null   object
 9   Type of Orbit                       6909 non-null   object
 10  Longitude of GEO (degrees)          7557 non-null   float64
 11  Perigee (km)                        7553 non-null   object
 12  Apogee (km)                         7553 non-null   object
 13  Eccentricity                        7549 non-null   float64
 14  Inclination (degrees)               7556 non-null   float64
 15  Period (minutes)                    7504 non-null   object
 16  Launch Mass (kg.)                   7315 non-null   object
 17  Date of Launch                      7559 non-null   object
 18  Expected Lifetime (yrs.)            5450 non-null   float64
 19  Contractor                          7560 non-null   object
 20  Country of Contractor               7560 non-null   object
 21  Launch Site                         7560 non-null   object
 22  Launch Vehicle                      7560 non-null   object
 23  COSPAR Number                       7560 non-null   object
 24  NORAD Number                        7560 non-null   int64
 25  Comments                            2085 non-null   object
 26  Source Used for Orbital Data        6637 non-null   object
 27  Source                              3286 non-null   object
 28  Source.1                            725 non-null    object
 29  Source.2                            1832 non-null   object
 30  Source.3                            1126 non-null   object
 31  Source.4                            729 non-null    object
 32  Source.5                            553 non-null    object
 33  Source.6                            504 non-null    object
dtypes: float64(4), int64(1), object(29)
memory usage: 2.0+ MB

In [16]:
print(f"Dtypes: \n\r{ucs_sats_messy.dtypes}\n\r")
print(f"Columns: \n\r{ucs_sats_messy.columns}\n\r")
print(f"Users: \n\r{ucs_sats_messy['Users'].unique()}\n\r")

Dtypes:
Name of Satellite, Alternate Names     object
Current Official Name of Satellite     object
Country/Org of UN Registry             object
Country of Operator/Owner              object
Operator/Owner                         object
Users                                  object
Purpose                                object
Detailed Purpose                       object
Class of Orbit                         object
Type of Orbit                          object
Longitude of GEO (degrees)            float64
Perigee (km)                           object
Apogee (km)                            object
Eccentricity                          float64
Inclination (degrees)                 float64
Period (minutes)                       object
Launch Mass (kg.)                      object
Date of Launch                         object
Expected Lifetime (yrs.)              float64
Contractor                             object
Country of Contractor                  object
Launch Site                            object
Launch Vehicle                         object
COSPAR Number                          object
NORAD Number                            int64
Comments                               object
Source Used for Orbital Data           object
Source                                 object
Source.1                               object
Source.2                               object
Source.3                               object
Source.4                               object
Source.5                               object
Source.6                               object
dtype: object

Columns:
Index(['Name of Satellite, Alternate Names',
       'Current Official Name of Satellite', 'Country/Org of UN Registry',
       'Country of Operator/Owner', 'Operator/Owner', 'Users', 'Purpose',
       'Detailed Purpose', 'Class of Orbit', 'Type of Orbit',
       'Longitude of GEO (degrees)', 'Perigee (km)', 'Apogee (km)',
       'Eccentricity', 'Inclination (degrees)', 'Period (minutes)',
       'Launch Mass (kg.)', 'Date of Launch', 'Expected Lifetime (yrs.)',
       'Contractor', 'Country of Contractor', 'Launch Site', 'Launch Vehicle',
       'COSPAR Number', 'NORAD Number', 'Comments',
       'Source Used for Orbital Data', 'Source', 'Source.1', 'Source.2',
       'Source.3', 'Source.4', 'Source.5', 'Source.6'],
      dtype='object')

Users:
['Commercial' 'Civil' 'Government' 'Military' 'Military/Commercial'
 'Government/Military' 'Military/Government' 'Government/Civil'
 'Military/Civil' 'Commercial/Civil' 'Civil/Commercial'
 'Government/Commercial' 'Commercial/Government'
 'Government/Commercial/Military' 'Civil/Government' 'Civil/Military'
 'Commercial ' 'Commercial/Military' 'Government ' 'Military ']