In [1]:
import pandas as pd

In [2]:
soc_catalog_timeseries_messy = pd.read_csv('data/original/Satellite-Orbital-Catalog-Time-Series.csv')

soc_catalog_timeseries_messy

,norad_id,name,object_type,satellite_constellation,altitude_km,altitude_category,orbital_band,congestion_risk,inclination,eccentricity,launch_year_estimate,days_in_orbit_estimate,orbit_lifetime_category,mean_motion,epoch,data_source,snapshot_date,country,last_seen
0,900,CALSPHERE 1,PAYLOAD,Other,977.090481,Low LEO,LEO-Polar,LOW,90.2202,0.002438,2023,0,<1yr,13.762857,2025-11-04 13:17:47.851584,celestrak,2025-11-04,US,2025-11-04
1,902,CALSPHERE 2,PAYLOAD,Other,1061.689709,Mid LEO,LEO-Polar,LOW,90.2343,0.001942,2023,0,<1yr,13.528777,2025-11-04 15:02:27.852864,celestrak,2025-11-04,US,2025-11-04
2,1361,LCS 1,PAYLOAD,Other,2787.876635,High LEO,MEO,LOW,32.1462,0.001339,2023,0,<1yr,9.893091,2025-11-04 11:54:21.803616,celestrak,2025-11-04,US,2025-11-04
3,1512,TEMPSAT 1,PAYLOAD,Other,1133.300356,Mid LEO,LEO-Polar,HIGH,89.9900,0.007013,2023,0,<1yr,13.335773,2025-11-04 12:33:07.220736,celestrak,2025-11-04,US,2025-11-04
4,1520,CALSPHERE 4A,PAYLOAD,Other,1123.361274,Mid LEO,LEO-Polar,HIGH,89.9080,0.007019,2023,0,<1yr,13.362285,2025-11-04 12:12:18.681984,celestrak,2025-11-04,US,2025-11-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225300,66418,HULIANWANG DIGUI 13G,UNKNOWN,Other,804.853793,Low LEO,LEO-Inclined,MEDIUM,50.0019,0.001211,2023,0,<1yr,14.260830,2025-11-19 14:46:56.104896,celestrak,2025-11-19,PRC,2025-11-19
225301,66419,HULIANWANG DIGUI 13H,UNKNOWN,Other,804.331397,Low LEO,LEO-Inclined,MEDIUM,50.0023,0.001148,2023,0,<1yr,14.262386,2025-11-19 14:45:27.440352,celestrak,2025-11-19,PRC,2025-11-19
225302,66420,HULIANWANG DIGUI 13J,UNKNOWN,Other,803.974085,Low LEO,LEO-Inclined,MEDIUM,50.0037,0.001099,2023,0,<1yr,14.263450,2025-11-19 14:44:24.867744,celestrak,2025-11-19,PRC,2025-11-19
225303,66454,VIASAT-3 F2,PAYLOAD,Other,17958.448855,MEO,MEO,LOW,5.6108,0.234599,2023,0,<1yr,2.286722,2025-11-19 02:06:38.892096,celestrak,2025-11-19,US,2025-11-19
225304,66514,SENTINEL-6B,PAYLOAD,Other,1317.934379,Mid LEO,LEO-Inclined,LOW,66.0403,0.001158,2023,0,<1yr,12.858761,2025-11-19 14:28:00.254208,celestrak,2025-11-19,ESA,2025-11-19

In [3]:
soc_catalog_timeseries_messy.columns

Index(['norad_id', 'name', 'object_type', 'satellite_constellation',
       'altitude_km', 'altitude_category', 'orbital_band', 'congestion_risk',
       'inclination', 'eccentricity', 'launch_year_estimate',
       'days_in_orbit_estimate', 'orbit_lifetime_category', 'mean_motion',
       'epoch', 'data_source', 'snapshot_date', 'country', 'last_seen'],
      dtype='object')