In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

ucs = pd.read_csv('../../data/clean/ucs_cleaned.csv')

ucs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7560 entries, 0 to 7559
Data columns (total 34 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Name of Satellite, Alternate Names  7560 non-null   object
 1   Current Official Name of Satellite  7560 non-null   object
 2   Country/Org of UN Registry          7559 non-null   object
 3   Country of Operator/Owner           7560 non-null   object
 4   Operator/Owner                      7560 non-null   object
 5   Users                               7560 non-null   object
 6   Purpose                             7560 non-null   object
 7   Detailed Purpose                    1254 non-null   object
 8   Class of Orbit                      7560 non-null   object
 9   Type of Orbit                       6909 non-null   object
 10  Longitude of GEO (degrees)          7557 non-null   float64
 11  Perigee (km)                        7553 non-null   object
 12  Apogee (km)                         7553 non-null   object
 13  Eccentricity                        7549 non-null   float64
 14  Inclination (degrees)               7556 non-null   float64
 15  Period (minutes)                    7504 non-null   object
 16  Launch Mass (kg.)                   7315 non-null   object
 17  Date of Launch                      7559 non-null   object
 18  Expected Lifetime (yrs.)            5450 non-null   float64
 19  Contractor                          7560 non-null   object
 20  Country of Contractor               7560 non-null   object
 21  Launch Site                         7560 non-null   object
 22  Launch Vehicle                      7560 non-null   object
 23  COSPAR Number                       7560 non-null   object
 24  NORAD Number                        7560 non-null   int64
 25  Comments                            2085 non-null   object
 26  Source Used for Orbital Data        6637 non-null   object
 27  Source                              3286 non-null   object
 28  Source.1                            725 non-null    object
 29  Source.2                            1832 non-null   object
 30  Source.3                            1126 non-null   object
 31  Source.4                            729 non-null    object
 32  Source.5                            553 non-null    object
 33  Source.6                            504 non-null    object
dtypes: float64(4), int64(1), object(29)
memory usage: 2.0+ MB